@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color: var(--background-color);
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

main{ 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.qrcode{
    padding: 15px 15px 20px 15px;
}

.card-container img{
    width: 290px;
    border-radius: 10px;
}

.conteudo{
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container .conteudo .title{
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: -1px;
    width: 100%;
    color: var(--title-color);
    font-weight: bold;
}

.card-container .conteudo .description{
    text-align: center;
    margin-bottom: 40px;
    width: 260px;
    color: var(--description-color);  
}